@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	scroll-behavior: smooth;
}
#root {
	z-index: -10;
}
@media screen and (min-width: 768px) {
	.cursor {
		position: fixed;
		width: 50px;
		height: 50px;
		border: 1px solid #c6c6c6;
		border-radius: 50%;
		left: 0;
		top: 0;
		pointer-events: none;
		transform: translate(-50%, -50%);
		transition: 0.1s;
	}
	.cursor2 {
		position: fixed;
		width: 8px;
		height: 8px;
		background-color: #c6c6c6;
		border-radius: 50%;
		left: 0;
		top: 0;
		pointer-events: none;
		transform: translate(-50%, -50%);
		transition: 0.15s;
	}
}

cursor2 {
	display: none;
}

.navbar {
	z-index: 100;
}
.menu-container {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #111112;
	color: white;
	font-weight: bold;
	transition: top 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-container.open {
	top: 0;
}

.menu-container ul {
	padding: 0;
	list-style: none;
}

.menu-container li {
	padding: 8px 16px;
}

.menu-container .close-icon {
	position: absolute;
	top: 10px;
	right: 8px;
	cursor: pointer;
}

.image-slider {
	display: flex;
	transition: transform 0.3s ease-in-out;
}

.fade-in {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade-in.visible {
	opacity: 1;
}

.embla__slide {
	display: flex;
	padding-left: 1rem;
}
.embla__slide__mobile {
	display: flex;
	padding-left: 1rem;
}
.rotate {
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* CSS */
.image-container {
	position: relative;
	width: 16rem;
	height: 16rem;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s;
}
.image-container-potrait {
	position: relative;
	width: 20rem;
	height: 100%;
	overflow: hidden;
}

.image-container-potrait img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s;
}
.image-container-potrait:hover img {
	opacity: 0.5;
}

.image-container:hover img {
	opacity: 0.5;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	transition: opacity 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container:hover .overlay {
	opacity: 1; /* Opacity saat dihover */
}
.image-container-potrait:hover .overlay {
	opacity: 1; /* Opacity saat dihover */
}

.overlay img {
	width: 2.5rem;
	height: 2.5rem;
}
